<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atxiaoming.mapper.ProdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atxiaoming.entity.Prod">
        <result column="id" property="id" />
        <result column="prod_name" property="prodName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="brand_id" property="brandId" />
        <result column="brand_name" property="brandName" />
        <result column="imgs_id" property="imgsId" />
        <result column="description" property="description" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="stop_flag" property="stopFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        prod_name, category_id, category_name, brand_id, brand_name, imgs_id, description, create_at, update_at, stop_flag
    </sql>

</mapper>
