<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atxiaoming.mapper.ProdSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atxiaoming.entity.ProdSku">
        <result column="id" property="id" />
        <result column="attr1_id" property="attr1Id" />
        <result column="attr2_id" property="attr2Id" />
        <result column="sku" property="sku" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        attr1_id, attr2_id, sku, price
    </sql>

</mapper>
